FORMAT: 1A
HOST: http://sosmed.co.id

# Sosmed

  Sosmed is a API to retrive a post and comment

## Posts API

### list all post [GET /posts]

+ Request (application/json)

      + Headers

              Authorization : Berer abcdefghaiklmnopqrstupwxyz

+ Response 200 (application/json)

      + Body

              [
                {
                  "userId":1,
                  "id":1,
                  "title":"judul 1",
                  "body":"ini adalah konten 1"
                },
                {
                  "userId":2,
                  "id":2,
                  "title":"judul 2",
                  "body":"ini adalah konten 2"
                },
                {
                  "userId":3,
                  "id":3,
                  "title":"judul 3",
                  "body":"ini adalah konten 3"
                },
                {
                  "userId":4,
                  "id":4,
                  "title":"judul 4",
                  "body":"ini adalah konten 4"
                },
                {
                  "userId":5,
                  "id":5,
                  "title":"judul 5",
                  "body":"ini adalah konten 5"
                },
                {
                  "userId":6,
                  "id":6,
                  "title":"judul 6",
                  "body":"ini adalah konten 6"
                },
                {
                  "userId":7,
                  "id":7,
                  "title":"judul 7",
                  "body":"ini adalah konten 7"
                },
                {
                  "userId":8,
                  "id":8,
                  "title":"judul 8",
                  "body":"ini adalah konten 8"
                },
                {
                  "userId":9,
                  "id":9,
                  "title":"judul 9",
                  "body":"ini adalah konten 9"
                },
                {
                  "userId":10,
                  "id":10,
                  "title":"judul 10",
                  "body":"ini adalah konten 10"
                }
              ]

### Data Post by id [GET /posts/{id}]

+ Parameters

      + id : 1

+ Request (application/json)

      + Headers

              Authorization : Berer abcdefghaiklmnopqrstupwxyz

+ Response 200 (application/json)

      + Body

              {
                "userId":1,
                "id":1,
                "title":"ini judul 1",
                "body":"ini konten 1"
              }

### Data Comment by PostId [GET /posts/{PostId}/comments]

+ Parameters

      + PostId : 1

+ Request (application/json)

      + Headers

              Authorization : Berer abcdefghaiklmnopqrstupwxyz

+ Response 200 (application/json)

      + Body

              [
                {
                  "PostId":1,
                  "id":1,
                  "name":"ini name 1",
                  "email":"1@gmail.com",
                  "body":"ini komen 1"
                },
                {
                  "PostId":1,
                  "id":2,
                  "name":"ini name 2",
                  "email":"2@gmail.com",
                  "body":"ini komen 2"
                },
                {
                  "PostId":1,
                  "id":3,
                  "name":"ini name 3",
                  "email":"3@gmail.com",
                  "body":"ini komen 3"
                },
                {
                  "PostId":1,
                  "id":4,
                  "name":"ini name 4",
                  "email":"4gmail.com",
                  "body":"ini komen 4"
                },
                {
                  "PostId":1,
                  "id":5,
                  "name":"ini name 5",
                  "email":"5@gmail.com",
                  "body":"ini komen 5"
                }
              ]

### Data Comment by PostId [GET /comments{?PostId}]

+ Parameters

      + PostId : 1

+ Request (application/json)

      + Headers

              Authorization : Berer abcdefghaiklmnopqrstupwxyz

+ Response 200 (application/json)

      + Body

              [
                {
                  "PostId":1,
                  "id":1,
                  "name":"ini name 1",
                  "email":"1@gmail.com",
                  "body":"ini komen 1"
                },
                {
                  "PostId":1,
                  "id":2,
                  "name":"ini name 2",
                  "email":"2@gmail.com",
                  "body":"ini komen 2"
                },
                {
                  "PostId":1,
                  "id":3,
                  "name":"ini name 3",
                  "email":"3@gmail.com",
                  "body":"ini komen 3"
                },
                {
                  "PostId":1,
                  "id":4,
                  "name":"ini name 4",
                  "email":"4gmail.com",
                  "body":"ini komen 4"
                },
                {
                  "PostId":1,
                  "id":5,
                  "name":"ini name 5",
                  "email":"5@gmail.com",
                  "body":"ini komen 5"
                }
              ]
